/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 4.5rem;
}

.hostname {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 0.8rem;
  color: grey;
}
